$max: 50;
$offset: 5;
$unit: "px";
@mixin list-loop($className, $styleName) {
    $i: 0;
    @while $i <= $max {
        #{$className + $i} {
            #{$styleName}: #{$i + $unit};
        }
        $i: $i + $offset;
    }
}
@include list-loop(".p-", "padding");
@include list-loop(".pl-", "padding-left");
@include list-loop(".pr-", "padding-right");
@include list-loop(".pt-", "padding-top");
@include list-loop(".pb-", "padding-bottom");
