* {
    padding: 0;
    margin: 0;
    font-variation-settings:
        "wght" var(--font-weight, 375),
        "wdth" var(--font-width, 80);
}

/* Set core root defaults */
html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.6;
    font-size: var(--font-size-400);
    color: var(--grey-900);
    letter-spacing: -0.5px;
}
